<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="Prodimage" connectionString="server=sql2;Initial Catalog=Kepek;uid=kepread;pwd=asus" providerName="System.Data.SqlClient"/>
    <add name="KepekConnectionString" connectionString="Data Source=sql2;Initial Catalog=Kepek;uid=kepread;pwd=asus" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=sql2;Initial Catalog=Kepek;uid=kepread;pwd=asus" providerName="System.Data.SqlClient"/>
    <!-- Connection string used for OLEDB -->
    <add name="dbConnectionString" connectionString="Provider=SQLOLEDB;Server=sql2;Initial Catalog=Kepek;;UID=kepread;PWD=asus"/>
    <add name="Personal" connectionString="server=sql2;Initial Catalog=Kepek;uid=kepread;pwd=asus" providerName="System.Data.SqlClient"/>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="server=sql2;Initial Catalog=Kepek;uid=kepread;pwd=asus" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/error.html"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <authentication mode="Forms"/>
  </system.web>
  <system.codedom>
    <compilers/>
  </system.codedom>
</configuration>